@tailwind base;

body {
  font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
}

h1 {
  @apply mt-6 mb-4 text-3xl font-medium leading-normal text-gray-800;
}

h2 {
  @apply mt-6 mb-4 text-2xl font-medium leading-snug text-gray-800;
}

h3 {
  @apply mt-6 mb-4 text-xl font-medium leading-snug text-gray-800;
}

h4 {
  @apply mt-6 mb-4 text-lg font-medium leading-snug text-gray-800;
}

h5 {
  @apply mt-6 mb-4 text-lg font-medium leading-tight text-gray-800;
}

h6 {
  @apply mt-6 mb-4 text-lg font-medium leading-tight text-gray-700;
}

strong {
  @apply font-semibold;
}

code {
  @apply inline px-1 font-mono text-sm bg-gray-200 rounded py-1/2;
}

pre {
  @apply p-4 overflow-auto bg-gray-200 rounded;
}

pre code {
  @apply block p-0 overflow-visible bg-transparent rounded-none;
}

kbd {
  @apply inline-block px-1 font-mono text-xs font-normal align-middle border rounded shadow py-1/2;
}

blockquote {
  @apply pl-4 pr-4 ml-4 text-base text-gray-600 border-l-4 border-gray-300;
}

#content {
  @apply text-gray-800;
}

#content > * {
  @apply mb-4;
}

#content a {
  @apply font-medium text-teal-700;
}

#content strong a {
  @apply font-bold;
}

#content ul {
  @apply pl-8 text-base list-disc;
}

#content ol {
  @apply pl-8 text-base list-decimal;
}

#content li + li {
  @apply mt-1;
}

#content li > p + p {
  @apply mt-6;
}

#content table {
  @apply table text-base border-gray-600;
}

#content tbody tr {
  @apply border-t-2;
}

#content tbody tr:nth-child(odd) {
  @apply bg-gray-100;
}

#content th {
  @apply px-3 py-1 border-b-2;
}

#content td {
  @apply px-3 py-1;
}

#content h1:hover > a, #content h2:hover > a, #content h3:hover > a, #content h4:hover > a {
  @apply opacity-100;
}

@tailwind components;

.heading-anchor {
  @apply align-top opacity-0;
}

.hide-header {
  transform: translateY(-100%);
}

@tailwind utilities;

.nice-shadow {
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06);
}

.visually-hidden {
  @apply absolute block w-px h-px overflow-hidden whitespace-no-wrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}

/* Custom CSS classes */

.external-link::after {
  @apply text-gray-500;
  content: "↗";
}

.tip {
  @apply px-6 py-2 bg-gray-200 border-l-4 border-green-600;
}

.tip .title {
  @apply font-bold text-gray-900;
}

.warning {
  @apply px-6 py-2 bg-yellow-200 border-l-4 border-yellow-600;
}

.warning .title {
  @apply font-bold text-yellow-600;
}

.info {
  @apply px-6 py-2 bg-blue-200 border-l-4 border-blue-600;
}

.info .title {
  @apply font-bold text-blue-600;
}

.success {
  @apply px-6 py-2 bg-green-200 border-l-4 border-green-600;
}

.success .title {
  @apply font-bold text-green-600;
}

.danger {
  @apply px-6 py-2 bg-red-200 border-l-4 border-red-600;
}

.danger .title {
  @apply font-bold text-red-600;
}

.details {
  @apply p-2 bg-gray-200;
}

/* This is needed to protect katext formulas from Tailwind's base CSS, even with the 0.12 fixes */

.katex * {
  border-color: #000;
}

/* Highlighted lines in code blocks */

code .highlight-line-active {
  @apply inline-block w-full bg-black;
}

code .highlight-line-add {
  @apply inline-block w-full text-green-500 bg-green-900;
}

code .highlight-line-remove {
  @apply inline-block w-full text-red-500 bg-red-900;
}

code .linenumber {
  @apply inline-block w-12 pr-2 mr-2 text-right text-gray-700 border-r-2 border-gray-700;
}

/* Code toolbar */
.code-toolbar {
  @apply flex flex-row justify-end w-full text-right text-gray-700;
}

.code-toolbar-item {
  @apply px-2 ml-1 text-xs bg-gray-400 rounded-full;
}

.code-toolbar-item:hover {
  @apply bg-gray-500;
}

/* Grouped code fences */
#content .code-group {
  @apply p-2 bg-gray-200;
}

#content .code-group ul.code-group-nav {
  @apply px-0;
}

#content .code-group ul.code-group-nav li {
  @apply inline px-4 list-none;
}

#content .code-group .code-group-radio:not(:checked) + pre {
  @apply hidden;
}

#content .code-group .code-group-label:checked + label {
  @apply font-bold;
}

#content .code-group .code-group-label:not(:checked) + label {
  @apply opacity-50;
}

/* markdown-it-chords */

.chords,
.justchords {
  @apply py-4;
}
.chords .title,
.justchords .title {
  @apply text-xl font-bold;
}

:root {
	--chord-diagram-font-size: 10px;
}
.chord {
	display: inline-block;
	position: relative;
	user-select: none;
  height: 3.2em;
}
.chord.diagram {
	height: calc(1.5em + (3.5 * var(--chord-diagram-font-size)))
}
.chord .inner {
	position: absolute;
	display: block;
	left: 0;
  bottom: 1.3em;
  font-size: 80%;
}
.chord i {
	font-style: normal;
	display: inline-block;
}
.chord i.diagram {
	font: 100 var(--chord-diagram-font-size) Courier;
	line-height: .5em;
	position: absolute;
	bottom: 0;
	display: none;
}
.chord .inner:hover i.diagram,
.chord.diagram i.diagram,
.chord i.diagram.show {
  display: inline-block;
  padding: 4px;
}
.chord:not(.diagram) .inner:hover i.diagram {
	background: white;
  z-index: 5;
  @apply shadow-lg;
}

/* Override some of the above when chords are in a "justchords" block */

.justchords .chord {
  height: auto;
}

.justchords .chord .inner {
  position: relative;
  bottom: 0;
  font-size: 100%;
}

.justchords .chord i.diagram {
	position: relative;
}
