---
layout: default
title: Page Not Found
permalink: 404.html
---

<div class="flex flex-col items-center md:flex-row">
    <div class="text-gray-800 md:mr-7">{% include "icons/frown.svg" %}</div>
    <div class="text-center text-gray-800 md:text-left">
        <h1 class="my-2 text-6xl">404</h1>
        <h2 class="mt-0 mb-3">Oops! It seems you are lost</h2>
        <p class="mb-4 text-gray-600 md:mb-3">The page you're looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a href="{{ '/' | url }}" class="font-semibold text-teal-600">Return to homepage</a>
    </div>
</div>
