---
layout: default
title: Search
---

<div class="flex items-center w-full px-4 py-3 mb-8 text-gray-600 border-t border-gray-100 rounded shadow md:mx-auto md:w-2/3">
    {% include "icons/search.svg" %}
    <label class="visually-hidden" for="searchbox">Search here ...</label>
    <input type="search" id="searchbox" class="w-full ml-3 focus:outline-none" placeholder="Search here ...">
</div>
<div id="info" class="mx-auto mb-5 text-lg text-center text-gray-600"></div>
<div id="wrapper" class="flex flex-wrap -mx-2"></div>
