---
layout: default
title: Tag List
permalink: "tags/index.html"
---

<h1 class="mt-0 text-center mb-7">{{ title }}</h1>
<div class="flex flex-wrap justify-center">
    {% for name, length in collections.tagList %}
    <a href="{{ ('/tags/' + name) | url }}" class="inline-block px-4 py-2 mx-1 mb-3 font-medium text-gray-700 bg-gray-200 rounded-full">
        {{ name | capitalize }}
        <span class="px-2 py-1 ml-1 text-xs font-semibold text-teal-800 bg-teal-300 rounded-full">{{ length }}</span>
    </a>
    {% endfor %}
</div>
