<header id="header" class="fixed top-0 z-50 w-full px-6 py-5 transition-all duration-500 ease-in-out bg-white nice-shadow">
    <div class="flex flex-wrap items-center justify-between max-w-5xl mx-auto">
        <div class="sm:mr-8">
            <a class="flex items-center" href="/">
                <span class="self-center text-xl font-semibold text-gray-700">{{ site.title }}</span>
            </a>
        </div>
        <nav id="menu" class="items-center flex-grow order-last hidden w-full mt-2 md:order-none md:w-auto md:flex md:mt-0">
            {% for item in menu %}
            <a href="{{ item.url }}" {% if item.newTab %}target="_blank" rel="noopener" {% endif %}class="block mt-4 mr-4 text-base font-medium text-gray-700 md:inline-block md:mt-0 hover:text-teal-600">{{ item.label }}</a>
            {% endfor %}
        </nav>
        <form id="search" action="/search" class="items-center justify-end flex-grow order-last hidden mt-6 sm:order-none sm:block sm:mt-0">
            <label class="visually-hidden" for="header-searchbox">Search here ...</label>
            <input type="text" id="header-searchbox" name="q" placeholder="Search here ..." class="float-right w-full h-8 p-4 text-sm text-gray-700 placeholder-gray-500 bg-gray-100 border border-transparent rounded sm:max-w-xs focus:bg-white focus:border-gray-300 focus:outline-none">
            <input type="hidden" name="start" value="1">
            <input type="hidden" name="size" value="12">
        </form>
        <div id="menu-toggle" class="flex items-center text-gray-700 cursor-pointer md:hidden hover:text-teal-600 sm:ml-6">
            {% include "icons/menu.svg" %}
        </div>
    </div>
</header>
